h1 {
    /* box-level */
    background-color: lightgray;
 
    height: 300px;
    width: 300px;
 
    border-width: 10px;
    border-style: solid;
    border-color: darkslategray;
 
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
 
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
 
    outline-width: 5px;
    outline-style: dashed;
    outline-color: salmon;
}
 
a {
    /* inline-level */
    border-width: 5px;
    border-style: solid;
    border-color: red;
 
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}